.achievement-all {
  .achievement-card {
    display: inline-block;
    width: 44%;
    margin: 10px 3%;
    .ant-card-head {
      height: 48px;
      line-height: 48px;
      font-size: 18px;
      background: #ecf6fd;
      border-bottom: 1px solid #e9e9e9;
      text-align: center;
    }
    .ant-card-head-title {
        font-size: 14px;
        display: inline-block;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        color: #108ee9;
        font-weight: 500;
    }
    .ant-card-body {
      padding: 12px 24px;
    }
    .achievement-card-desc {
      text-align: center;
      font-size: 14px;
    }
    .achievement-card-tip {
      text-align: right;
      margin-top: 6px;
      span {
        margin: 0 12px;
      }
    }
  }
}