@c0: #108ee9;
@c1: #333;
@c2: #009a61;

.blog-index .blog-tabs {
  margin-bottom: 10px;
}

.blog-index .blog-card {
  padding: 0 2px;
}

.blog-index .blog-card ul.blog-list {
  margin-bottom: 15px;
}

.blog-index .blog-card ul.blog-list > li {
  position: relative;
  display: block;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

ul.blog-list > li {
  .blog-item-rank {
    float: left;
    width: 40px;
    color: #666;
    background: #f0f0f0;
    text-align: center;
    cursor: pointer;

    span.blog-like-times {
      display: block;
      font-size: 15px;
    }
    i {
      display: block;
      font-size: 13px;
      padding: 2px 0;
      font-style: normal;
    }
    
  }  
}

ul.blog-list > li .blog-item-info {
  border-left: 1px solid #f1f1f1;
  margin-left: 50px;
  padding: 0 10px;

  h4 {
    padding: 1px 0 4px;
  }
  h4 a {
    color: @c1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    &:hover {
      text-decoration: underline;
    }
  }

  .blog-item-summary {
    margin: 0 0 3px;
    color: #777;
  }

  .blog-item-user {
    color: #999;
    b {
      color: @c2;
    }
  }
}