@c0: #108ee9;
@c1: #666;

ul.blog-list {
}

ul.blog-list li {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;

  h4 {
    padding: 1px 0 4px;
  }
  h4 > a {
    color: @c1;
    font-size: 16px;
    line-height: 1.2;
    &:hover {
      text-decoration: underline;
    }
  }
}